* {
    transition: background-color 0.5s, color 0.04s !important;
}

@keyframes shake-head {
    0%, 100% {
        transform: rotate(0deg);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: rotate(-5deg);
    }
    20%, 40%, 60%, 80% {
        transform: rotate(5deg);
    }
}

@keyframes tilt-loupe {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
}

@keyframes arrow-up {
    0%, 100% {
        transform: translateY(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateY(-1px);
    }
    20%, 40%, 60%, 80% {
        transform: translateY(1px);
    }
}

@keyframes arrow-right {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(1px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(-1px);
    }
}

@keyframes arrow-left {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-1px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(1px);
    }
}

@keyframes heart {
    0%, 40%, 80%, 100% {
        transform: scale(1);
    }
    20%, 60% {
        transform: scale(1.15);
    }
}

.heart {
    margin-left: 4px;
    margin-right: 4px;
    animation: heart 1s infinite;
}

@keyframes rotate3d {
    0%, 100% {
        transform: rotate3d(0, 1, 0, 0deg);
    }
    75% {
        transform: rotate3d(0, 1, 0, 400deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}


/*############## Info ################"*/
body > div.md-container > main > div > div.md-content > article > details.info > summary::before {
    animation: rotate3d 3s infinite ease-in-out !important;
}

/*####################################"*/


/*############# Warning ##############"*/

body > div.md-container > main > div > div.md-content > article > details.warning > summary::before {
    animation: shake-head 1.5s infinite !important;
}

body > div.md-container > main > div > div.md-content > article > div.warning > p.admonition-title::before {
    animation: shake-head 1.5s infinite !important;
}
/*####################################"*/

/*####################################"*/
body > div.md-container > main > button > svg {
    animation: arrow-up 3s infinite;
}

body > header > nav.md-header__inner.md-grid > div.md-search > div > form > label {
    animation: tilt-loupe 2s infinite alternate ease-in-out;
}
/*####################################"*/

/*####################################"*/
body > div.md-container > footer > nav > a.md-footer__link.md-footer__link--next > div.md-footer__button.md-icon > svg {
    animation: arrow-right 4s infinite;
}

body > div.md-container > footer > nav > a.md-footer__link.md-footer__link--prev > div.md-footer__button.md-icon > svg {
    animation: arrow-left 4s infinite;
}
/*####################################"*/

/*####################################"*/
.driver-popover {
    box-shadow: 0 0px 10px 1px rgba(46, 118, 244, 0.25) !important;
    background: rgba(6, 78, 159, 0.5) !important;
    backdrop-filter: blur(3px) !important;
    color: white !important;
    transition: all 0.5s ease-out !important;
}

.driver-popover:hover {
    backdrop-filter: blur(10px) !important;
    transition: all 0.5s ease-in;
}

.driver-popover-prev-btn {
    background: rgba(6, 78, 159, 0.5) !important;
    border: none !important;
    box-shadow: 0 0px 5px 1px rgba(46, 118, 244, 1) !important;
    color: transparent !important;
    transition: all 0.5s ease-out !important;
}
.driver-popover-next-btn {
    background: rgba(6, 78, 159, 0.5) !important;
    border: none !important;
    box-shadow: 0 0px 5px 1px rgba(46, 118, 244, 1) !important;
    color: transparent !important;
    transition: all 0.5s ease-out !important;
}

.driver-popover-prev-btn:hover {
    box-shadow: 0 0px 5px 1px rgb(46, 181, 244) !important;
    transform: scale(1.1);
    transition: all 0.3s ease-in !important;
}

.driver-popover-next-btn:hover {
    box-shadow: 0 0px 5px 1px rgb(46, 181, 244) !important;
    transform: scale(1.1);
    transition: all 0.3s ease-in !important;
}

.driver-popover-close-btn {
    color: white !important;
}

.driver-popover-close-btn:hover {
    animation: rotate 0.5s ease-out;
}

/*####################################"*/
